@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@source '../node_modules/sveltewind';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-primary-50: oklch(97.1% 0.013 17.38);
	--color-primary-100: oklch(93.6% 0.032 17.717);
	--color-primary-200: oklch(88.5% 0.062 18.334);
	--color-primary-300: oklch(80.8% 0.114 19.571);
	--color-primary-400: oklch(70.4% 0.191 22.216);
	--color-primary-500: oklch(63.7% 0.237 25.331);
	--color-primary-600: oklch(57.7% 0.245 27.325);
	--color-primary-700: oklch(50.5% 0.213 27.518);
	--color-primary-800: oklch(44.4% 0.177 26.899);
	--color-primary-900: oklch(39.6% 0.141 25.723);
	--color-primary-950: oklch(25.8% 0.092 26.042);

	--color-gray-50: #fafaf9;
	--color-gray-100: #f5f5f4;
	--color-gray-200: #e7e5e4;
	--color-gray-300: #d6d3d1;
	--color-gray-400: #a8a29e;
	--color-gray-500: #8b837e;
	--color-gray-600: #57534e;
	--color-gray-700: #44403c;
	--color-gray-800: #292524;
	--color-gray-900: #1c1917;
	--color-gray-950: #0c0a09;

	--font-sans: 'Inter', sans;
}

@layer base {
	* {
		scrollbar-width: thin;
		scrollbar-color: theme(colors.primary.600) transparent;
	}

	*::-webkit-scrollbar {
		@apply h-2 w-2;
	}

	*::-webkit-scrollbar-track {
		@apply bg-transparent;
	}
}
